<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .form-container {
        width: 300px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="form-container">
        <h2 class="text-center mb-4">Register an Institution</h2>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}

        <form action="/register" method="post">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="institution"
              placeholder="Institution Name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="Mailing Address"
              placeholder="Mailing Address"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
